<h1>Admin</h1>
<p>Manage the website from here</p>


<h4><%= link_to 'Add endorsement', new_endorsement_path %> | <%= link_to 'View all endorsements', endorsements_path %></h4>

<h4><%= link_to 'Add event', new_event_path %> | <%= link_to 'View all events', events_path %></h4>

<h4><%= link_to 'New News', new_news_path %></h4>

<h4><%= link_to 'New Media Pic', new_media_pic_path %> | <%= link_to 'View all Media Pictures', media_pics_path %></h4>

<h4><%= link_to 'Manage Meta Tags', metatags_path %></h4>


<div class="dangerzone hidden" >
<h4><%= link_to 'Add user', new_user_path %> | <%= link_to 'View all users', users_path %></h4>
</div>
