

 
    <% content_for :jumbot do %>
	
		 <div class="jumbotron jumbotron-welcome">
			 
  	<h1>Mariko Yamada</h1>
        <h2>State Senate 2016</h2>
			
    </div>

 <% end %>
  




  
        <h2>Our Big News…Running for Senate!</h2>
		<p><%= link_to 'JOIN OUR CAMPAIGN', support_path,  class: 'btn btn-primary', role: 'button' %> </p>
        <p>Dear Friends:</p>

<p>Through some of our State’s most difficult times, Californians pulled together and persevered through years of brutal budgets and shared sacrifice.  Thanks to the voters, tools like the simple majority budget, temporary taxes, and a rainy day fund, we’re breaking down the “wall-of-debt” that threatened our state’s economy, paying back what we owe to schools, and making a comeback.</p>

<p>Yet, our recovery has been uneven and inequitable.  Too many are out-of-work; our social and public safety net is tattered; higher education and healthcare costs continue to rise; and the fourth consecutive year of drought and climate change threaten our multi-billion dollar farm industry. We have the highest poverty rate in the Nation - children, the elderly, and those with disabilities, including veterans, are especially hard hit.</p>

<p>Serving for six years in the California Assembly has been a high honor.  Together we survived those difficult years, but there are still many challenges ahead that will require experienced and energetic leadership.  We must boost our economy and protect small businesses and the lives of working people whose labor supports it.  We must also ensure that the promises made for a secure retirement are kept fair for all Californians, and ensure that care is accessible for the most vulnerable Californians.</p>

<p>That’s why I am a candidate for the Third District in the California State Senate.  As a professional social worker for over four decades, my background, training, and commitment to equity have prepared me well to take on these challenges on your behalf.  I am excited to do this work and would be honored to have your support.</p>

<p>Primary Election Day is Tuesday, June 7, 2016.  Your early endorsement and a contribution of any amount will help share our message.</p>

<p>Thank you for your past support and encouragement.  I’m ready to run because “We’ve got work to do!”</p>

<p>Sincerely,</p>
<%= image_tag 'sig.jpg'%>
        <h4>Mariko Yamada</h4>
	
		<!--Begin CTCT Sign-Up Form-->
		<div class="constantcontactrw">	
			
		<!-- EFD 1.0.0 [Fri Sep 18 13:30:45 EDT 2015] -->
		<link rel='stylesheet' type='text/css' href='https://static.ctctcdn.com/h/contacts-embedded-signup-assets/1.0.2/css/signup-form.css'>
		<div class="ctct-embed-signup" style="font: 16px Helvetica Neue, Arial, sans-serif; font: 1rem Helvetica Neue, Arial, sans-serif; line-height: 1.5; -webkit-font-smoothing: antialiased;">
		   <div style="color:#5b5b5b; background-color:#e8e8e8; border-radius:5px;">
		       <span id="success_message" style="display:none;">
		           <div style="text-align:center;">Thanks for signing up!</div>
		       </span>
		       <form data-id="embedded_signup:form" class="ctct-custom-form Form" name="embedded_signup" method="POST" action="https://visitor2.constantcontact.com/api/signup">
		           <h2 style="margin:0;">Mariko Yamada for State Senate</h2>
		           <p>Our grassroots campaign depends on great volunteers! Please complete this short form and we will contact you about how you can help us reach the finish line strong.</p>
		           <!-- The following code must be included to ensure your sign-up form works properly. -->
		           <input data-id="ca:input" type="hidden" name="ca" value="fb603c66-7534-4b44-93e7-d09a369fb659">
		           <input data-id="source:input" type="hidden" name="source" value="EFD">
		           <input data-id="required:input" type="hidden" name="required" value="list,email">
		           <input data-id="url:input" type="hidden" name="url" value="">
		           <p data-id="Email Address:p" ><label data-id="Email Address:label" data-name="email" class="ctct-form-required">Email Address</label> <input data-id="Email Address:input" type="text" name="email" value="" maxlength="80"></p>
		           <p data-id="First Name:p" ><label data-id="First Name:label" data-name="first_name">First Name</label> <input data-id="First Name:input" type="text" name="first_name" value="" maxlength="50"></p>
		           <p data-id="Last Name:p" ><label data-id="Last Name:label" data-name="last_name">Last Name</label> <input data-id="Last Name:input" type="text" name="last_name" value="" maxlength="50"></p>
		           <p data-id="Phone Number:p" ><label data-id="Phone Number:label" data-name="phone">Phone Number</label> <input data-id="Phone Number:input" type="text" name="phone" value="" maxlength="50"></p>
		           <p data-id="Street Address:p" ><label data-id="Street Address:label" data-name="address_street">Street</label> <input data-id="Street Address:input" type="text" name="address_street" value="" maxlength="50"></p>
		           <p data-id="City:p" ><label data-id="City:label" data-name="address_city">City</label> <input data-id="City:input" type="text" name="address_city" value="" maxlength="50"></p>
		           <p data-id="State/Province:p" ><label data-id="State/Province:label" data-name="address_state">Select a state/province</label></p>
		           <p data-id="Zip Code:p" ><label data-id="Zip Code:label" data-name="address_postal_code">Zip Code</label> <input data-id="Zip Code:input" type="text" name="address_postal_code" value="" maxlength="50"></p>
		                      <p data-id="Lists:p" ><label data-id="Lists:label" data-name="list" class="ctct-form-required">Email Lists</label><div><input data-id="Lists:input" type="checkbox" name="list_0" value="1491338190"><span data-id="Lists:span">Volunteer - Display/Deliver Lawn Signs</span></div><div><input data-id="Lists:input" type="checkbox" name="list_1" value="1372548401"><span data-id="Lists:span">Volunteer - Endorser</span></div><div><input data-id="Lists:input" type="checkbox" name="list_2" value="1197308442"><span data-id="Lists:span">Volunteer - Help Get Out the Vote</span></div><div><input data-id="Lists:input" type="checkbox" name="list_3" value="1435653862"><span data-id="Lists:span">Volunteer - Host Meet &amp; Greet</span></div><div><input data-id="Lists:input" type="checkbox" name="list_4" value="1670510592"><span data-id="Lists:span">Volunteer - Make Phone Calls</span></div><div><input data-id="Lists:input" type="checkbox" name="list_5" value="1146819461"><span data-id="Lists:span">Volunteer - Walk Precincts</span></div></p>
		           <button type="submit" class="Button ctct-button Button--block Button-secondary" data-enabled="enabled">Sign Up</button>
		       	<div><p class="ctct-form-footer">By submitting this form, you are granting: Yamada For Senate 2016, P.O. Box 528, Sacramento, California, 95812, United States, http://www.yamadaforsenate.net permission to email you. You may unsubscribe via the link found at the bottom of every email.  (See our <a href="http://www.constantcontact.com/legal/privacy-statement" target="_blank">Email Privacy Policy</a> for details.) Emails are serviced by Constant Contact.</p></div>
		       </form>
		   </div>
		</div>
		<script type='text/javascript'>
		   var localizedErrMap = {};
		   localizedErrMap['required'] = 		'This field is required.';
		   localizedErrMap['ca'] = 			'An unexpected error occurred while attempting to send email.';
		   localizedErrMap['email'] = 			'Please enter your email address in name@email.com format.';
		   localizedErrMap['birthday'] = 		'Please enter birthday in MM/DD format.';
		   localizedErrMap['anniversary'] = 	'Please enter anniversary in MM/DD/YYYY format.';
		   localizedErrMap['custom_date'] = 	'Please enter this date in MM/DD/YYYY format.';
		   localizedErrMap['list'] = 			'Please select at least one email list.';
		   localizedErrMap['generic'] = 		'This field is invalid.';
		   localizedErrMap['shared'] = 		'Sorry, we could not complete your sign-up. Please contact us to resolve this.';
		   localizedErrMap['state_mismatch'] = 'Mismatched State/Province and Country.';
			localizedErrMap['state_province'] = 'Select a state/province';
		   localizedErrMap['selectcountry'] = 	'Select a country';
		   var postURL = 'https://visitor2.constantcontact.com/api/signup';
		</script>
		<script type='text/javascript' src='https://static.ctctcdn.com/h/contacts-embedded-signup-assets/1.0.2/js/signup-form.js'></script>
  </div>		<!--End CTCT Sign-Up Form-->
			
  
     
      	
		
		<% content_for :rhcolumn do %>
  	<%= render "/layouts/support.html.erb"%>
	 <%= render "/layouts/constantcontact.html.erb"%>
	 <% unless @news.title.blank? %><%= render "/layouts/blog.html.erb"%> <% end %>
	  <% end %>
	  
  