<h1><%= @news.title %></h1>
<h5>Posted: <%= @news.created_at.strftime("%B %d %Y")%>  <% if current_user %><%= link_to 'Edit', edit_news_path(@news) %> | <%= link_to 'Destroy', @news, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></h5>

<% unless @news.avatar.blank? %><div class="event-img"><%= image_tag @news.avatar.url(:standard)%></div><% end %>
<%= raw @news.body %>

<p class="bttop"><%= link_to '<span class="glyphicon-class glyphicon glyphicon-chevron-up"></span> Back to top'.html_safe, '#Top' %></p>
<%= link_to 'Back', news_index_path %>



<% content_for :rhcolumn do %>
<% @articles.each do |article| %>

<h3><%= link_to article.title, article %></h3>
<h5><%= article.created_at.strftime("%B %d %Y")%></h5>
<p><%= truncate(strip_tags(article.body), :length => 120, :escape => false )%>
 <%=   link_to "read more", article %> 
</p>
<% end %>

<p><%= link_to 'See all articles', news_index_url %>
<% end %>