

<DOCTYPE html>
<html>
    <head>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p>You have received the following Support email from the website:</p>
        
		<% if @name %>
		<p>Name: <%= @name %></p>
		<% end %>
		
		<% if @phone %>
		<p>Phone: <%= @phone %></p>
		<% end %>
		
		<% if @address %>
		<p>Address: <%= @address %></p>
		<% end %>
		
		<% if @body %>
		<p>Message: <%= @body %></p>
		<% end %>
		<% if @help %><p>I would like to: </p><% end %>
		<% @help.each do |help|%>
		<p><%= help %></p>
		<% end%>
    </body>
</html>