<div class="col-md-10"><%= bootstrap_form_for(@endorsement, label_errors: true, :html => { :class => "form-horizontal" }) do |f| %>
  
 
  
    <div class="formgroup">
      	
  			<div class="col-md-8 col-md-offset-2">
      			<%= f.text_field :title, class: 'form-control', placeholder: "Title (optional)"%>
   			</div>
  	<div>
		
  <div class="formgroup">
    	
			<div class="col-md-8 col-md-offset-2">
    			<%= f.text_field :firstname, class: 'form-control', placeholder: "Firstname"%>
 			</div>
	<div>
		
	    <div class="formgroup">
	      	
	  			<div class="col-md-8 col-md-offset-2">
	      			<%= f.text_field :lastname, class: 'form-control', placeholder: "Lastname"%>
	   			</div>
	  	<div>
			
	    <div class="formgroup">
	      	
	  			<div class="col-md-8 col-md-offset-2">
	      			<%= f.text_field :organization, class: 'form-control', placeholder: "Organization (optional - unless this entry is for an Organization)"%>
	   			</div>
	  	<div>

	    <div class="formgroup">
	      
	  			<div class="col-md-8 col-md-offset-2">
	      			
					<%= f.select :category, ['Elected', 'Organization', 'Individual'] %>
	   			</div>
				
	  	</div>
		
	    <div class="formgroup">
	      	
	  			<div class="col-md-8 col-md-offset-2">
	      			<%= f.text_field :rank, class: 'form-control', placeholder: "Position for elected officals only. 0 is highest."%>
	   			</div>
	  	</div>
		
			</div>
			
  
  <div class="form-group">
  <div class="col-sm-offset-9 col-sm-10">
  <%= f.submit :Submit, class: 'btn btn-default'%>
  </div>
</div>

<% end %>

</div>
</div>
</div>
</div>
</div>
</div>
