<div class="col-md-10"><%= form_for(@endorsement,:html => { :class => "form-horizontal" }) do |f| %>
  <% if @endorsement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@endorsement.errors.count, "error") %> prohibited this endorsement from being saved:</h2>

      <ul>
      <% @endorsement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="formgroup">
    	<%= f.label :firstname, class: "col-md-4 control-label" %>
			<div class="col-md-6">
    			<%= f.text_field :firstname, class: 'form-control', placeholder: "Firstname"%>
 			</div>
	<div>
		
	    <div class="formgroup">
	      	<%= f.label :lastname, class: "col-md-4 control-label" %>
	  			<div class="col-md-6">
	      			<%= f.text_field :lastname, class: 'form-control', placeholder: "Lastname"%>
	   			</div>
	  	<div>

	    <div class="formgroup">
	      	<%= f.label :category, class: "col-md-4 control-label" %>
	  			<div class="col-md-6">
	      			
					<%= f.select :category, ['Elected', 'Organization', 'Individual'] %>
	   			</div>
				
	  	<div>
  
  <div class="form-group">
  <div class="col-sm-offset-9 col-sm-10">
  <%= f.submit :Submit, class: 'btn btn-default'%>
  </div>
</div>

<% end %>

</div>
</div>
</div>
</div>
</div>
</div>
