  
     <% content_for :jumbot do %>
 		 <div class="jumbotron jumbotron-endorsements">
   	<h1>Mariko Yamada</h1>
	
         <h2>State Senate 2016<h2>
			
     </div>
  <% end %>

 		 <% unless @orgs.blank? %><h2>Organizations</h2> <% end %>
		  
 		<% @orgs.each do |e| %>
		  
 		 <p><%= e.organization %>  <% if current_user %>   <%= link_to 'edit', edit_endorsement_path(e) %> |  <%= link_to 'delete', endorsement_path(e), :method => :delete, data: { confirm: ('messages.confirm_delete'), ok: ('buttons.ok'), cancel: ('buttons.cancel')} %><% end %></p>
		  
 		 <% end %>


		  
		 <h2>Public Officials</h2> 
		  
		<% @electeds.each do |e| %>
		  
		 <p> <%= e.title %> <%= e.firstname %> <%= e.lastname %> <% if current_user %>  <%= link_to 'edit', edit_endorsement_path(e) %> |  <%= link_to 'delete', endorsement_path(e), :method => :delete, data: { confirm: ('messages.confirm_delete'), ok: ('buttons.ok'), cancel: ('buttons.cancel')} %><% end %> </p>
		  
		  
		  
		 <% end %>
		 
 		
		 
 		 <h2>Individuals</h2> 
		  
 		<% @individuals.each do |e| %>
		  
 		 <p>  <%= e.title %> <%= e.firstname %> <%= e.lastname %>  <% if current_user %>   <%= link_to 'edit', edit_endorsement_path(e) %> |  <%= link_to 'delete', endorsement_path(e), :method => :delete, data: { confirm: ('messages.confirm_delete'), ok: ('buttons.ok'), cancel: ('buttons.cancel')} %><% end %></p>
		  
 		 <% end %>
		
		
		
	
		
		<p class="bttop"><%= link_to '<span class="glyphicon-class glyphicon glyphicon-chevron-up"></span> Back to top'.html_safe, '#Top' %></p>
		
	  
      	
		
		<% content_for :rhcolumn do %>
  	<%= render "/layouts/support.html.erb"%>
	 <%= render "/layouts/constantcontact.html.erb"%>
	  <%= render "/layouts/issues.html.erb"%>
	 
	 <% if current_user %>

	 <%= render "/layouts/endorsement_admin.html.erb"%>
	
	 <% end %>
	 
	 
	  <% end %>
	