  
     <% content_for :jumbot do %>
 		 <div class="jumbotron jumbotron-endorsements">
   	<h1>Mariko Yamada</h1>
         <h2>State Senate 2016<h2>
			
     </div>
  <% end %>




		  
		 <h2>Elected Officials<h2> 
		  
		<% @electeds.each do |e| %>
		  
		 <p><b>  <%= e.firstname %> <%= e.lastname %></b></p>
		  
		 <% end %>
		 
 		 <h2>Organizations<h2> 
		  
 		<% @orgs.each do |e| %>
		  
 		 <p><%= e.firstname %> <%= e.lastname %></p>
		  
 		 <% end %>
		 
 		 <h2>Individuals<h2> 
		  
 		<% @individuals.each do |e| %>
		  
 		 <p>  <%= e.firstname %> <%= e.lastname %></p>
		  
 		 <% end %>
		
		
		
		<p>  ... </p>
		
		<p class="bttop"><%= link_to '<span class="glyphicon-class glyphicon glyphicon-chevron-up"></span> Back to top'.html_safe, '#Top' %></p>
		
	  
      	
		
		<% content_for :rhcolumn do %>
  	<%= render "/layouts/support.html.erb"%>
	 <%= render "/layouts/constantcontact.html.erb"%>
	 
	 <% if user_signed_in? %>

	 <%= render "/layouts/endorsement_admin.html.erb"%>
	
	 <% end %>
	 
	 
	  <% end %>