  
     <% content_for :jumbot do %>
 		 <div class="jumbotron jumbotron-about">
   	<h1>Mariko Yamada</h1>
         <h2>State Senate 2016<h2>
			
     </div>
  <% end %>
  
<h2>Biography</h2>
<p>Mariko Yamada is a Democrat and former California Assemblymember currently running for California State Senate District 3, comprised of Solano and Napa counties; and portions of the counties of Contra Costa, Sacramento, Sonoma and Yolo. The General Election is Tuesday, November 8, 2016.</p> 
	
<p>Mariko was elected to the California State Assembly in 2008 and served in that position before leaving office due to term limits in 2014. During her six years in the Assembly, Mariko saw 31 of her bills signed into law. At the District-level, her hardworking staff mitigated over 1600 constituent cases. One of her proudest achievements was the development of the Volunteer Income Tax Assistance Program, which grew from drawing down $200,000 a year in Yolo County, to her final year total of $2.1 million dollars in tax returns to local working families. Over five years, the grand total of income tax returns was $6.9 million with over 100 volunteers. Mariko also focused her attention on helping high school students with their college financial aid applications through her sponsored Cash4College Workshops. She also hosted numerous veteran’s service fairs as well as AB 60 Workshops for undocumented drivers.</p> 

<p>In the Assembly, she served as Chair of the Assembly Aging and Long Term Care Committee for five years; and was the senior member on the Assembly Committees on Agriculture; Water, Parks &amp; Wildlife; and Veterans Affairs. She was also a member of these Committees: Assembly Rules, Labor &amp; Employment, and Housing &amp; Community Development. In addition, she was Chair of the Assembly Select Committees on State Hospital and Developmental Center Safety; Sustainable &amp; Organic Agriculture; and served on the Assembly Select Committee on Homelessness; State School Financial Takeovers; Foster Care; Workforce Development Within the Developmentally Disabled Community; Wine; and the 2010 Census, among others.</p> 
<div class="familypic"><%= image_tag 'family.jpg' %></div>
<p>Prior to her Assembly service, Mariko served for nine years on the Yolo County Board of Supervisors—four years as District Director and then for five years as the Supervisor for District 4. During that time, she consistently fought for the protection of civil rights, open space and agricultural preservation, and the inclusion of underserved communities in our educational system, the economy and the political process. Her education and experience as a professional social worker drives her leadership on issues affecting poor and vulnerable populations, including seniors and persons with disabilities and those who care for them.  Mariko is also known for her advocacy for small businesses and for the protection of the environment and animal welfare, earning frequent recognition for her consistent legislative track record in these areas.</p> 

<p>Mariko was born in Denver, Colorado after her family’s release from the Manzanar War Relocation Center, one of ten WWII Japanese-American internment camps. She attended inner-city public schools in the Five Points Neighborhood and was the first in her family to graduate from college – earning a B.A. in Psychology from the University of Colorado, Boulder and a Masters in Social Work from the University of Southern California. </p> 

<p>Mariko’s experience also includes a decade in Washington, D.C. in federal service—first with the U.S. Census Bureau working on the undercount reduction &quot;campaign&quot; for the 1980 Census and then as the only female investigator among four headquarters staff with the Office of the Secretary, Office for Civil Rights, and U.S. Department of Commerce. She held similar positions in San Diego County in the late 1980’s.  </p> 

<p>During her &quot;D.C. days,&quot; Mariko co-produced and co-hosted &quot;Gold Mountain, D.C.,&quot; a jazz and information show on WPFW 89.3 FM, one of the Pacific Foundation radio affiliates. Classic R&amp;B remains one of her mainstays. </p> 

<p>Mariko has been married to Janlee Wong, also a social worker, since 1983, and has resided in Davis, CA, since 1994. They are the parents of two adult daughters.</p>  
  
  
<h2>Experience</h2>
<p>Mariko has a four-decade record of forging partnerships in public service:</p>

<ul class="experience">
<li><b>California State Assemblymember, 2008-2014</b><br/>
	Representing all or parts of Colusa, Lake, Napa, Solano, Sonoma, & Yolo counties</li>
<li>Yolo County Supervisor, District 4, 2003-2008</li>
<li>District Director, Yolo County Board of Supervisors, District 4, 1999-2003</li>
<li>Chair, Yolo County Democratic Party, 1998-2000</li>
<li>Chair, California Democratic Party, 8th Assembly District Committee, 2002-2004</li>
<li>Social Worker (MSW, University of Southern California, 1974)</li>
<li>Equal Employment/Affirmative Action Officer, San Diego County Department of Social Services, 1989-1994</li>
<li>Investigator, U.S. Department of Commerce, Office for Civil Rights, Washington, D.C. 1982-1987</li>
<li>1980 Census Undercount Reduction “Campaign”, 1977-1982</li>
<li>Assistant Deputy County Supervisor, Los Angeles County Board of Supervisors, 1975-1977</li>
</ul>


<h4>Other Volunteer Positions</h4>
<ul class="experience">
<li>City of Davis, Personnel Board</li>
<li>Yolo County Health Council</li>
<li>Yolo Basin Foundation Board of Directors</li>
<li>Active PTA volunteer in San Diego and Davis</li>
</ul>
			
			<p class="bttop"><%= link_to 'Back to top <span class="glyphicon-class glyphicon glyphicon-chevron-up"></span> '.html_safe, '#Top' %></p>
			
			
   
     
      	
		
		<% content_for :rhcolumn do %>
  	<%= render "/layouts/support.html.erb"%>
	 <%= render "/layouts/constantcontact.html.erb"%>
	  <%= render "/layouts/issues.html.erb"%>
	  <% end %>