  
       <% content_for :jumbot do %>
   		 <div class="jumbotron jumbotron-contact">
     	
			
       </div>
    <% end %>
  
  





		<h2>Contact Mariko</h2>
	<p>Perhaps the easiest way to contact us is to use this form and we will respond as soon as possible.</p>

	
	   
		<%= bootstrap_form_for @contact, url: {:action=>'create'} do |f| %>
	
		  <%= f.text_field :name %>

		  <%= f.email_field :email %>
	
      	
  			
		  <%= f.text_area :body, label: 'Message', placeholder: 'Your message' %>

      	
  			
		  <%= f.submit 'Submit', class: 'btn btn-default btn-about pull-right'%>
	 

		<% end %>
	       
	
    <p>&nbsp; <p>&nbsp; <p> &nbsp;
      	
		
		<% content_for :rhcolumn do %>
  	<%= render "/layouts/support.html.erb"%>
	 <%= render "/layouts/constantcontact.html.erb"%>
	  <%= render "/layouts/issues.html.erb"%>
	  <% end %>