    <% content_for :jumbot do %>
		 <div class="jumbotron jumbotron-support">
  			 <h1>Mariko Yamada</h1>
        	 <h2>State Senate 2016<h2>
			
   		  </div>
 <% end %>
  





     <h2>Support Mariko's campaign</h2>
	
	 <p>Please fill in the form on this page to tell us a little about yourself. You will be contacted as needs arise throughout the campaign.  THANK YOU!</p>


  <%= bootstrap_form_tag url: '/send_support_mail' do |f| %>
    
	<%= f.text_field :name, placeholder: 'Your name' %>
	<%= f.email_field :email, placeholder: 'name@example.com' %>
	<%= f.text_field :phone, placeholder: '916 555 0070' %>
	<%= f.text_field :address, placeholder: 'Optional' %>
	<%= f.text_area :comments, placeholder: 'Anything we should know?' %>
	
	

	
		   
		   
		   <%= f.form_group :help, label: { text: "I would like to (please check all that apply):" } do %><br/>
		    
			<% @help.each do |item| %>
			<div class="checkbox" style="margin-left:20px"><%= check_box_tag "help[]", item %> <%= item %></div>
			 
		   <% end %>
		    <% end %>
		
		 
		
		 <%= f.submit "Send", class: "btn btn-default btn-about pull-right" %>
	  
	  
	<% end %>
	
	<p>&nbsp; <p>&nbsp; <p> &nbsp;


	
      
     
      	
		
		<% content_for :rhcolumn do %>
  	<%= render "/layouts/support.html.erb"%>
	 <%= render "/layouts/constantcontact.html.erb"%>
	  <% end %>