<!DOCTYPE html>
<html>
<head>
  <title>Mariko</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul>
				<li <% if controller.controller_name == 'welcome' %>class = "menuon"<% end %> class="first"><%= link_to 'Home', :controller => 'welcome' %></li>
				<li <% if controller.controller_name == 'about' %>class = "menuon"<% end %>><%= link_to 'About Us', :controller => 'about' %></li>
				<li <% if controller.controller_name == 'endorsements' %>class = "menuon"<% end %>><%= link_to 'Endorsements', :controller => 'endorsements' %></li>
				<li <% if controller.controller_name == 'support' %>class = "menuon"<% end %>><%= link_to 'Support', :controller => 'support' %></li>
				<li <% if controller.controller_name == 'contact' %>class = "menuon"<% end %>><%= link_to 'Contact Us', :controller => 'contact' %></li>
				
				
			
				</ul>
	
<%= yield %>

</body>
</html>
